.footer {
	position: absolute;
	bottom: 3rem;
	text-align: center;
}

.footer__para {
	font-family: "Josefin Sans", sans-serif;
	font-size: 1.05rem;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 700;
	margin: 1rem 0;
	color: rgb(35, 31, 32);
}
