.about {
	padding: 0 20rem;
}

.about__content {
	display: flex;
}

.column {
	margin: 2rem;
}

.about__blurb-para {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	color: rgb(35, 31, 32);
	line-height: 23.25px;
}
